<a href="https://colab.research.google.com/github/jorgejoshuatt/TratamientoDatosPython/blob/main/TratamientoDatosPython/Complementos/04PandasLimpiezaDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*JORGE JOSHUA TREJO MARTINEZ*

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
import re

In [ ]:
#Leer origen de datos
df=pd.read_csv('https://raw.githubusercontent.com/omarmendoza564/datos/main/datos/aerolineas.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2480 entries, 0 to 2479
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nrow           2480 non-null   int64
 1   id             2480 non-null   int64
 2   dia            2480 non-null   object
 3   aerolinea      2480 non-null   object
 4   destino        2480 non-null   object
 5   region         2480 non-null   object
 6   dest_size      2480 non-null   object
 7   area_abordaje  2480 non-null   object
 8   fecha_salida   2480 non-null   object
 9   espera_min     2474 non-null   float64
 10  limpieza       2480 non-null   object
 11  seguridad      2480 non-null   object
 12  satisfaccion   2480 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 252.0+ KB

In [ ]:
df.head()

,nrow,id,dia,aerolinea,destino,region,dest_size,area_abordaje,fecha_salida,espera_min,limpieza,seguridad,satisfaccion
0,0,1351,martes,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,2018-12-31,115.0,Limpio,Neutral,Muy satisfecho
1,1,373,viernes,ALASKA,SAN JOSE DEL CABO,Canada / Mexico,Small,Gates 50-59,2018-12-31,135.0,Limpio,Muy seguro,Muy satisfecho
2,2,2820,jueves,DELTA,LOS ÁNGELES,oeste de EE. UU.,Hub,Gates 40-48,2018-12-31,70.0,Promedio,Algo seguro,Neutral
3,3,1157,martes,SUDOESTE,LOS ÁNGELES,oeste de EE. UU.,Hub,Gates 20-39,2018-12-31,190.0,Limpio,Muy seguro,Algo satisfecho
4,4,2992,miércoles,AMERICAN,MIAMI,East US,Hub,Gates 50-59,2018-12-31,559.0,Inaceptable,Muy seguro,Algo satisfecho

In [ ]:
df.tail()

,nrow,id,dia,aerolinea,destino,region,dest_size,area_abordaje,fecha_salida,espera_min,limpieza,seguridad,satisfaccion
2475,2804,1475,martes,ALASKA,NUEVA YORK-JFK,este de EE. UU.,Hub,Gates 50-59,2018-12-31,280.0,Algo limpio,Neutral,Algo satisfecho
2476,2805,2222,jueves,SUDOESTE,PHOENIX,oeste de EE. UU.,Hub,Gates 20-39,2018-12-31,165.0,Limpio,Muy seguro,Muy satisfecho
2477,2806,2684,viernes,UNITED,ORLANDO,Este de EE. UU.,Hub,Gates 70-90,2018-12-31,92.0,Limpio,Muy seguro,Muy satisfecho
2478,2807,2549,martes,JETBLUE,LONG BEACH,oeste de EE. UU.,Small,Gates 1-12,2018-12-31,95.0,Limpio,Algo seguro,Muy satisfecho
2479,2808,2162,sábado,ESTE DE CHINA,QINGDAO,Asia,grande,Gates 1-12,2018-12-31,220.0,Limpio,Muy seguro,Algo satisfecho

In [ ]:
#Visualizar el numero de datos faltantes
df.isnull().sum()

nrow             0
id               0
dia              0
aerolinea        0
destino          0
region           0
dest_size        0
area_abordaje    0
fecha_salida     0
espera_min       6
limpieza         0
seguridad        0
satisfaccion     0
dtype: int64

In [ ]:
#Obtener renglones con datos NaN
df_nan=df[pd.isnull(df['espera_min'])]['espera_min'].isna()
df_nan

183     True
240     True
256     True
673     True
1036    True
2227    True
Name: espera_min, dtype: bool

In [ ]:
#Ver los datos descriptivos de espera en minutos
df['espera_min'].describe()

count    2474.000000
mean      166.372676
std       107.582681
min        15.000000
25%       105.000000
50%       145.000000
75%       189.250000
max      1365.000000
Name: espera_min, dtype: float64

In [ ]:
#Cambiar los valores NaN
##Cambiar todos los valores NaN en todas las columnas y renglones
#df.fillna(value=166.372676)

##Cambiar los valores NaN de una columna del DF
#df['espera_min'].fillna(value=166.372676)
df['espera_min'].fillna((df['espera_min'].mean()),inplace=True)

In [ ]:
df.isnull().sum()

nrow             0
id               0
dia              0
aerolinea        0
destino          0
region           0
dest_size        0
area_abordaje    0
fecha_salida     0
espera_min       0
limpieza         0
seguridad        0
satisfaccion     0
dtype: int64

In [ ]:
#Visualizar los cambios de valores NaN
df[df.index.isin(df_nan.index)]

,nrow,id,dia,aerolinea,destino,region,dest_size,area_abordaje,fecha_salida,espera_min,limpieza,seguridad,satisfaccion
183,206,1843,miércoles,SUDOESTE,SAN DIEGO,oeste de EE. UU.,Medium,Gates 20-39,2018-12-31,166.372676,Medio,Algo seguro,Algo satisfecho
240,273,325,jueves,UNITED,BURBANK,West US,Small,Gates 70-90,2018-12-31,166.372676,Algo limpio,Muy seguro,Algo satisfecho
256,293,1180,martes,SUDOESTE,LAS VEGAS,oeste de EE. UU.,Hub,Gates 20-39,2018-12-31,166.372676,Limpio,Muy seguro,Algo satisfecho
673,765,1215,martes,SUDOESTE,LAS VEGAS,oeste de EE. UU.,Hub,Gates 20-39,2018-12-31,166.372676,Limpio,Algo seguro,Algo satisfecho
1036,1176,847,martes,AMERICAN,DALLAS-FT. VALOR,Medio Oeste de EE. UU.,Hub,Gates 50-59,2018-12-31,166.372676,Limpio,Algo seguro,Algo satisfecho
2227,2538,1224,martes,SUDOESTE,LAS VEGAS,oeste de EE. UU.,Hub,Gates 20-39,2018-12-31,166.372676,Promedio,Algo seguro,Neutral

In [ ]:
#Eliminar columnas
df.drop(['nrow'],axis=1)

,id,dia,aerolinea,destino,region,dest_size,area_abordaje,fecha_salida,espera_min,limpieza,seguridad,satisfaccion
0,1351,martes,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,2018-12-31,115.0,Limpio,Neutral,Muy satisfecho
1,373,viernes,ALASKA,SAN JOSE DEL CABO,Canada / Mexico,Small,Gates 50-59,2018-12-31,135.0,Limpio,Muy seguro,Muy satisfecho
2,2820,jueves,DELTA,LOS ÁNGELES,oeste de EE. UU.,Hub,Gates 40-48,2018-12-31,70.0,Promedio,Algo seguro,Neutral
3,1157,martes,SUDOESTE,LOS ÁNGELES,oeste de EE. UU.,Hub,Gates 20-39,2018-12-31,190.0,Limpio,Muy seguro,Algo satisfecho
4,2992,miércoles,AMERICAN,MIAMI,East US,Hub,Gates 50-59,2018-12-31,559.0,Inaceptable,Muy seguro,Algo satisfecho
...,...,...,...,...,...,...,...,...,...,...,...,...
2475,1475,martes,ALASKA,NUEVA YORK-JFK,este de EE. UU.,Hub,Gates 50-59,2018-12-31,280.0,Algo limpio,Neutral,Algo satisfecho
2476,2222,jueves,SUDOESTE,PHOENIX,oeste de EE. UU.,Hub,Gates 20-39,2018-12-31,165.0,Limpio,Muy seguro,Muy satisfecho
2477,2684,viernes,UNITED,ORLANDO,Este de EE. UU.,Hub,Gates 70-90,2018-12-31,92.0,Limpio,Muy seguro,Muy satisfecho
2478,2549,martes,JETBLUE,LONG BEACH,oeste de EE. UU.,Small,Gates 1-12,2018-12-31,95.0,Limpio,Algo seguro,Muy satisfecho
2479,2162,sábado,ESTE DE CHINA,QINGDAO,Asia,grande,Gates 1-12,2018-12-31,220.0,Limpio,Muy seguro,Algo satisfecho

In [ ]:
#Crear una columna
df['espera_hr']=df['espera_min']/60
df[['espera_min','espera_hr']]

      espera_min  espera_hr
0          115.0   1.916667
1          135.0   2.250000
2           70.0   1.166667
3          190.0   3.166667
4          559.0   9.316667
...          ...        ...
2475       280.0   4.666667
2476       165.0   2.750000
2477        92.0   1.533333
2478        95.0   1.583333
2479       220.0   3.666667

[2480 rows x 2 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2480 entries, 0 to 2479
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nrow           2480 non-null   int64
 1   id             2480 non-null   int64
 2   dia            2480 non-null   object
 3   aerolinea      2480 non-null   object
 4   destino        2480 non-null   object
 5   region         2480 non-null   object
 6   dest_size      2480 non-null   object
 7   area_abordaje  2480 non-null   object
 8   fecha_salida   2480 non-null   object
 9   espera_min     2480 non-null   float64
 10  limpieza       2480 non-null   object
 11  seguridad      2480 non-null   object
 12  satisfaccion   2480 non-null   object
 13  espera_hr      2480 non-null   float64
dtypes: float64(2), int64(2), object(10)
memory usage: 271.4+ KB

In [ ]:
#Convertir columnas tipo cadenas(object) a tipo date
df['fecha_salida']=pd.to_datetime(df['fecha_salida']).dt.date

df

,nrow,id,dia,aerolinea,destino,region,dest_size,area_abordaje,fecha_salida,espera_min,limpieza,seguridad,satisfaccion,espera_hr
0,0,1351,martes,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,2018-12-31,115.0,Limpio,Neutral,Muy satisfecho,1.916667
1,1,373,viernes,ALASKA,SAN JOSE DEL CABO,Canada / Mexico,Small,Gates 50-59,2018-12-31,135.0,Limpio,Muy seguro,Muy satisfecho,2.250000
2,2,2820,jueves,DELTA,LOS ÁNGELES,oeste de EE. UU.,Hub,Gates 40-48,2018-12-31,70.0,Promedio,Algo seguro,Neutral,1.166667
3,3,1157,martes,SUDOESTE,LOS ÁNGELES,oeste de EE. UU.,Hub,Gates 20-39,2018-12-31,190.0,Limpio,Muy seguro,Algo satisfecho,3.166667
4,4,2992,miércoles,AMERICAN,MIAMI,East US,Hub,Gates 50-59,2018-12-31,559.0,Inaceptable,Muy seguro,Algo satisfecho,9.316667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,2804,1475,martes,ALASKA,NUEVA YORK-JFK,este de EE. UU.,Hub,Gates 50-59,2018-12-31,280.0,Algo limpio,Neutral,Algo satisfecho,4.666667
2476,2805,2222,jueves,SUDOESTE,PHOENIX,oeste de EE. UU.,Hub,Gates 20-39,2018-12-31,165.0,Limpio,Muy seguro,Muy satisfecho,2.750000
2477,2806,2684,viernes,UNITED,ORLANDO,Este de EE. UU.,Hub,Gates 70-90,2018-12-31,92.0,Limpio,Muy seguro,Muy satisfecho,1.533333
2478,2807,2549,martes,JETBLUE,LONG BEACH,oeste de EE. UU.,Small,Gates 1-12,2018-12-31,95.0,Limpio,Algo seguro,Muy satisfecho,1.583333
2479,2808,2162,sábado,ESTE DE CHINA,QINGDAO,Asia,grande,Gates 1-12,2018-12-31,220.0,Limpio,Muy seguro,Algo satisfecho,3.666667

In [ ]:
print(df['fecha_salida'].describe())
print("Fecha minima ",df['fecha_salida'].min())
print("Fecha maxima ",df['fecha_salida'].max())

count           2480
unique             2
top       2018-12-31
freq            2443
Name: fecha_salida, dtype: object
Fecha minima  2018-01-01
Fecha maxima  2018-12-31

In [ ]:
#Filtrar renglones por fecha
df.loc[df['fecha_salida']==dt.date(year=2018,month=12,day=31)]

,nrow,id,dia,aerolinea,destino,region,dest_size,area_abordaje,fecha_salida,espera_min,limpieza,seguridad,satisfaccion,espera_hr
0,0,1351,martes,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,2018-12-31,115.0,Limpio,Neutral,Muy satisfecho,1.916667
1,1,373,viernes,ALASKA,SAN JOSE DEL CABO,Canada / Mexico,Small,Gates 50-59,2018-12-31,135.0,Limpio,Muy seguro,Muy satisfecho,2.250000
2,2,2820,jueves,DELTA,LOS ÁNGELES,oeste de EE. UU.,Hub,Gates 40-48,2018-12-31,70.0,Promedio,Algo seguro,Neutral,1.166667
3,3,1157,martes,SUDOESTE,LOS ÁNGELES,oeste de EE. UU.,Hub,Gates 20-39,2018-12-31,190.0,Limpio,Muy seguro,Algo satisfecho,3.166667
4,4,2992,miércoles,AMERICAN,MIAMI,East US,Hub,Gates 50-59,2018-12-31,559.0,Inaceptable,Muy seguro,Algo satisfecho,9.316667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,2804,1475,martes,ALASKA,NUEVA YORK-JFK,este de EE. UU.,Hub,Gates 50-59,2018-12-31,280.0,Algo limpio,Neutral,Algo satisfecho,4.666667
2476,2805,2222,jueves,SUDOESTE,PHOENIX,oeste de EE. UU.,Hub,Gates 20-39,2018-12-31,165.0,Limpio,Muy seguro,Muy satisfecho,2.750000
2477,2806,2684,viernes,UNITED,ORLANDO,Este de EE. UU.,Hub,Gates 70-90,2018-12-31,92.0,Limpio,Muy seguro,Muy satisfecho,1.533333
2478,2807,2549,martes,JETBLUE,LONG BEACH,oeste de EE. UU.,Small,Gates 1-12,2018-12-31,95.0,Limpio,Algo seguro,Muy satisfecho,1.583333
2479,2808,2162,sábado,ESTE DE CHINA,QINGDAO,Asia,grande,Gates 1-12,2018-12-31,220.0,Limpio,Muy seguro,Algo satisfecho,3.666667

In [ ]:
#Localizar renglones duplicados
df_dup=df.duplicated()
df_dup

0       False
1       False
2       False
3       False
4       False
        ...
2475    False
2476    False
2477    False
2478    False
2479    False
Length: 2480, dtype: bool

In [ ]:
#Localizar renglones duplicados
df[df_dup]

,nrow,id,dia,aerolinea,destino,region,dest_size,area_abordaje,fecha_salida,espera_min,limpieza,seguridad,satisfaccion,espera_hr
523,574,1510,miércoles,HAWAIIAN AIR,HONOLULU,oeste de EE. UU.,Medium,Gates 1-12,2018-12-31,120.0,Algo limpio,Muy seguro,Neutral,2.00
576,642,370,viernes,ALASKA,SAN JOSE DEL CABO,Canadá / México,Small,Gates 50-59,2018-12-31,195.0,Algo limpio,Algo seguro,Algo satisfecho,3.25

In [ ]:
#Definir columnas a evaluar duplicado
col=['id','dia','aerolinea']
df_dup=df.duplicated(subset=col,keep=False)
df[df_dup].sort_values(by='id')

,nrow,id,dia,aerolinea,destino,region,dest_size,area_abordaje,fecha_salida,espera_min,limpieza,seguridad,satisfaccion,espera_hr
559,642,370,viernes,ALASKA,SAN JOSE DEL CABO,Canadá / México,Small,Gates 50-59,2018-12-31,195.0,Algo limpio,Algo seguro,Algo satisfecho,3.25
576,642,370,viernes,ALASKA,SAN JOSE DEL CABO,Canadá / México,Small,Gates 50-59,2018-12-31,195.0,Algo limpio,Algo seguro,Algo satisfecho,3.25
501,574,1510,miércoles,HAWAIIAN AIR,HONOLULU,oeste de EE. UU.,Medium,Gates 1-12,2018-12-31,120.0,Algo limpio,Muy seguro,Neutral,2.00
523,574,1510,miércoles,HAWAIIAN AIR,HONOLULU,oeste de EE. UU.,Medium,Gates 1-12,2018-12-31,120.0,Algo limpio,Muy seguro,Neutral,2.00

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2480 entries, 0 to 2479
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nrow           2480 non-null   int64
 1   id             2480 non-null   int64
 2   dia            2480 non-null   object
 3   aerolinea      2480 non-null   object
 4   destino        2480 non-null   object
 5   region         2480 non-null   object
 6   dest_size      2480 non-null   object
 7   area_abordaje  2480 non-null   object
 8   fecha_salida   2480 non-null   object
 9   espera_min     2480 non-null   float64
 10  limpieza       2480 non-null   object
 11  seguridad      2480 non-null   object
 12  satisfaccion   2480 non-null   object
 13  espera_hr      2480 non-null   float64
dtypes: float64(2), int64(2), object(10)
memory usage: 271.4+ KB

In [ ]:
df.count()

nrow             2478
id               2478
dia              2478
aerolinea        2478
destino          2478
region           2478
dest_size        2478
area_abordaje    2478
fecha_salida     2478
espera_min       2478
limpieza         2478
seguridad        2478
satisfaccion     2478
espera_hr        2478
dtype: int64

In [ ]:
#Eliminamos duplicados
df.drop_duplicates(inplace=True)
df.count()

nrow             2478
id               2478
dia              2478
aerolinea        2478
destino          2478
region           2478
dest_size        2478
area_abordaje    2478
fecha_salida     2478
espera_min       2478
limpieza         2478
seguridad        2478
satisfaccion     2478
espera_hr        2478
dtype: int64

In [ ]:
#Elimina un renglon
#df.drop([523],axis=0)

In [ ]:
#Cargar el DF de categorias
df_cat=pd.read_csv('https://raw.githubusercontent.com/omarmendoza564/datos/main/datos/categorias.csv')
df_cat

      limpieza       seguridad        satisfaccion
0       Limpio         Neutral   Muy satisfactorio
1     Promedio      Muy seguro             Neutral
2  Algo limpio     Algo seguro     Algo satisfecho
3   Algo sucio    Muy inseguro   Algo insatisfecho
4        Sucio   Algo inseguro    Muy insatisfecho

In [ ]:
#Visualizar los valores unicos de cada columna categorica
#unique()
print('Limpieza ',df['limpieza'].unique())
print('Seguridad ',df['seguridad'].unique())
print('Satisfaccion ',df['satisfaccion'].unique())

Limpieza  ['Limpio' 'Promedio' 'Inaceptable' 'Algo limpio' 'Algo sucio' 'Medio'
 'Sucio']
Seguridad  ['Neutral' 'Muy seguro' 'Algo seguro' 'Muy inseguro' 'Algo inseguro']
Satisfaccion  ['Muy satisfecho' 'Neutral' 'Algo satisfecho' 'Algo insatisfecho'
 'Muy insatisfecho']

In [ ]:
#Localizar los valores invalidos en la columna limpieza
df_limpieza=set(df['limpieza']).difference(df_cat['limpieza'])
df_limpieza

{'Inaceptable', 'Medio'}

In [ ]:
df_lim_r=df['limpieza'].isin(df_limpieza)
df[df_lim_r]

,nrow,id,dia,aerolinea,destino,region,dest_size,area_abordaje,fecha_salida,espera_min,limpieza,seguridad,satisfaccion,espera_hr
4,4,2992,miércoles,AMERICAN,MIAMI,East US,Hub,Gates 50-59,2018-12-31,559.000000,Inaceptable,Muy seguro,Algo satisfecho,9.316667
60,67,3151,jueves,DELTA,SALT LAKE CITY,oeste de EE. UU.,Medium,Gates 40-48,2018-12-31,15.000000,Medio,Muy seguro,Neutral,0.250000
183,206,1843,miércoles,SUDOESTE,SAN DIEGO,oeste de EE. UU.,Medium,Gates 20-39,2018-12-31,166.372676,Medio,Algo seguro,Algo satisfecho,2.772878
493,566,447,domingo,UNITED,INDIANAPOLIS,Medio Oeste de EE. UU.,Medium,Gates 60-69,2018-12-31,83.000000,Medio,Muy seguro,Algo satisfecho,1.383333
582,665,3055,domingo,PHILIPPINE AIRLINES,MANILA,Asia,Medium,Gates 1-12,2018-01-01,335.000000,Medio,Algo seguro,Algo satisfecho,5.583333
1309,1494,1035,viernes,AIR CANADA,VANCOUVER,Canadá / México,Medium,Gates 91-102,2018-12-31,95.000000,Medio,Algo seguro,Algo satisfecho,1.583333
1563,1777,3032,martes,UNITED,PORTLAND,oeste de EE. UU.,Medium,Gates 70-90,2018-12-31,95.000000,Medio,Algo seguro,Neutral,1.583333
1932,2200,938,jueves,AIR CANADA,VANCOUVER,Canadá / México,Medium,Gates 91-102,2018-12-31,105.000000,Medio,Muy seguro,Algo satisfecho,1.750000
2047,2338,2135,miércoles,AIR CANADA,VANCOUVER,Canadá / México,Medium,Gates 91-102,2018-12-31,95.000000,Medio,Muy seguro,Neutral,1.583333
2381,2703,1147,martes,SUDOESTE,SAN DIEGO,oeste de EE. UU.,Medium,Gates 20-39,2018-12-31,60.000000,Medio,Neutral,Neutral,1.000000

In [ ]:
#Contar valores que tienen valores invalidos en limpieza
df[df_lim_r].count()

nrow             10
id               10
dia              10
aerolinea        10
destino          10
region           10
dest_size        10
area_abordaje    10
fecha_salida     10
espera_min       10
limpieza         10
seguridad        10
satisfaccion     10
espera_hr        10
dtype: int64

In [ ]:
#Contar valores que tienen valores validos en limpieza
df[~df_lim_r].count()

nrow             2468
id               2468
dia              2468
aerolinea        2468
destino          2468
region           2468
dest_size        2468
area_abordaje    2468
fecha_salida     2468
espera_min       2468
limpieza         2468
seguridad        2468
satisfaccion     2468
espera_hr        2468
dtype: int64

In [ ]:
#Reemplazar valores en una columna
df['limpieza']=df['limpieza'].replace({'Inaceptable':"Sucio",'Medio':"Promedio"})
set(df['limpieza']).difference(df_cat['limpieza'])

set()

In [ ]:
#Validar columnas region, dest_size
print('Region',df['region'].unique())
print('Dest Size',df['dest_size'].unique())

Region ['Asia' 'Canada / Mexico' 'oeste de EE. UU.' 'East US' 'este de EE. UU.'
 'Canadá / México' 'Oeste de EE. UU.' 'Medio Oeste de EE. UU.' 'EAST US'
 'Medio Oriente' 'Este de EE. UU.' 'Europa' 'eur' 'Midwest US'
 'Centroamérica / Sudamérica' 'Centro / Sudamérica' 'West US'
 'ESTE de EE. UU.' 'Australia / Nueva Zelanda' 'Medio oeste de EE. UU.'
 'oriente medio' 'ESTE DE EE. UU.' 'Medio oriente'
 'Medio Oeste de los EE. UU.' 'Oriente Medio']
Dest Size ['Hub' 'Small' '  Hub ' 'Medium' 'Grande' '   Small' 'grande' 'Large']

In [ ]:
#Transformar datos
#Pasar a minusculas
df['region']=df['region'].str.lower()

#Reemplazar valores
df['region']=df['region'].replace({'eur':'europa'})

#Quitar espacios en blanco
df['dest_size']=df['dest_size'].str.strip()

#Usar expresiones regulares para reemplazo
df['dest_size']=df['dest_size'].str.replace("grande","large",regex=True, flags=re.IGNORECASE)

In [ ]:
#Validar dia
print('Dia',df['dia'].unique())

Dia ['martes' 'viernes' 'jueves' 'miércoles' 'sábado' 'Domingo' 'domingo'
 'lunes' 'Lunes' 'Thursday' 'Sunday' '\u200b\u200bmartes' 'Friday']

In [ ]:
#Generar valores validos para dia
reemplazo={'Thursday':'jueves','Sunday':'domingo','\u200b\u200bmartes':'martes', 'Friday':'viernes'}
df['dia']=df['dia'].replace(reemplazo)
df['dia']=df['dia'].str.lower()
#Validar dia
print('Dia',df['dia'].unique())

Dia ['martes' 'viernes' 'jueves' 'miércoles' 'sábado' 'domingo' 'lunes']

In [ ]:
#Generar una columna categorica
#espera_tipo (corto, medio, larga)

espera_rango=[0,60, 180, np.inf]
espera_etiqueta=['corto', 'medio', 'largo']
df['espera_tipo']=pd.cut(df['espera_min'],bins=espera_rango, labels=espera_etiqueta)
df[['espera_min','espera_tipo']]

      espera_min espera_tipo
0          115.0       medio
1          135.0       medio
2           70.0       medio
3          190.0       largo
4          559.0       largo
...          ...         ...
2475       280.0       largo
2476       165.0       medio
2477        92.0       medio
2478        95.0       medio
2479       220.0       largo

[2478 rows x 2 columns]

In [ ]:
#Generar columna categorica
#Tipo dia de la semana
mappings = {'lunes':'weekday', 'martes':'weekday', 'miércoles': 'weekday', 
            'jueves': 'weekday', 'viernes': 'weekday', 
            'sábado': 'weekend', 'domingo': 'weekend'}
df['tipo_dia_semana']=df['dia'].replace(mappings)
df[['dia','tipo_dia_semana']]

            dia tipo_dia_semana
0        martes         weekday
1       viernes         weekday
2        jueves         weekday
3        martes         weekday
4     miércoles         weekday
...         ...             ...
2475     martes         weekday
2476     jueves         weekday
2477    viernes         weekday
2478     martes         weekday
2479     sábado         weekend

[2478 rows x 2 columns]

In [ ]:
df['tipo_dia_semana'].describe()

count        2478
unique          2
top       weekday
freq         2001
Name: tipo_dia_semana, dtype: object

In [ ]:
#Convertir una columna en tipo category
df['tipo_dia_semana']=df['tipo_dia_semana'].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2478 entries, 0 to 2479
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nrow             2478 non-null   int64
 1   id               2478 non-null   int64
 2   dia              2478 non-null   object
 3   aerolinea        2478 non-null   object
 4   destino          2478 non-null   object
 5   region           2478 non-null   object
 6   dest_size        2478 non-null   object
 7   area_abordaje    2478 non-null   object
 8   fecha_salida     2478 non-null   object
 9   espera_min       2478 non-null   float64
 10  limpieza         2478 non-null   object
 11  seguridad        2478 non-null   object
 12  satisfaccion     2478 non-null   object
 13  espera_hr        2478 non-null   float64
 14  espera_tipo      2478 non-null   category
 15  tipo_dia_semana  2478 non-null   category
dtypes: category(2), float64(2), int64(2), object(10)
memory usage: 295.5+ KB

In [ ]:
df

,nrow,id,dia,aerolinea,destino,region,dest_size,area_abordaje,fecha_salida,espera_min,limpieza,seguridad,satisfaccion,espera_hr,espera_tipo,tipo_dia_semana
0,0,1351,martes,UNITED INTL,KANSAI,asia,Hub,Gates 91-102,2018-12-31,115.0,Limpio,Neutral,Muy satisfecho,1.916667,medio,weekday
1,1,373,viernes,ALASKA,SAN JOSE DEL CABO,canada / mexico,Small,Gates 50-59,2018-12-31,135.0,Limpio,Muy seguro,Muy satisfecho,2.250000,medio,weekday
2,2,2820,jueves,DELTA,LOS ÁNGELES,oeste de ee. uu.,Hub,Gates 40-48,2018-12-31,70.0,Promedio,Algo seguro,Neutral,1.166667,medio,weekday
3,3,1157,martes,SUDOESTE,LOS ÁNGELES,oeste de ee. uu.,Hub,Gates 20-39,2018-12-31,190.0,Limpio,Muy seguro,Algo satisfecho,3.166667,largo,weekday
4,4,2992,miércoles,AMERICAN,MIAMI,east us,Hub,Gates 50-59,2018-12-31,559.0,Sucio,Muy seguro,Algo satisfecho,9.316667,largo,weekday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,2804,1475,martes,ALASKA,NUEVA YORK-JFK,este de ee. uu.,Hub,Gates 50-59,2018-12-31,280.0,Algo limpio,Neutral,Algo satisfecho,4.666667,largo,weekday
2476,2805,2222,jueves,SUDOESTE,PHOENIX,oeste de ee. uu.,Hub,Gates 20-39,2018-12-31,165.0,Limpio,Muy seguro,Muy satisfecho,2.750000,medio,weekday
2477,2806,2684,viernes,UNITED,ORLANDO,este de ee. uu.,Hub,Gates 70-90,2018-12-31,92.0,Limpio,Muy seguro,Muy satisfecho,1.533333,medio,weekday
2478,2807,2549,martes,JETBLUE,LONG BEACH,oeste de ee. uu.,Small,Gates 1-12,2018-12-31,95.0,Limpio,Algo seguro,Muy satisfecho,1.583333,medio,weekday
2479,2808,2162,sábado,ESTE DE CHINA,QINGDAO,asia,large,Gates 1-12,2018-12-31,220.0,Limpio,Muy seguro,Algo satisfecho,3.666667,largo,weekend

In [ ]:
#Guardar DF limpio
df.to_csv('datos/aerolinea.csv',index=False)